name: Hello World Workflow 2

# Triggers the workflow manually using the "workflow_dispatch" event
on:
  pull_request: 
  push: 
    branches:
      - testbranch

  workflow_dispatch:

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
    - name: Print Branch name
      run: echo ${{ github.head_ref }}
